.site-off{
    position: fixed;
    width: 320px;
    height: var(--percent100);
    background-color: var(--white-color);
    overflow: auto;
    z-index: 10;
}
.off-canvas{
    width: var(--percent100);
    height: var(--percent100);
    touch-action: auto;
    padding: 1.5em;
}
.off-canvas .canvas-head{
    color: var(--white-color);
    justify-content: space-between;
    padding: 1.5em;
    margin: -1.5em -1.5em 1.5em;
    background-color: var(--secondary-dark-color);
    border-bottom-right-radius: 160px 25px;
}
/* .off-canvas .canvas-head .logo{
    z-index: 11;
    position: relative;
}
.off-canvas .canvas-head .logo .circle{
    opacity: .75;
} */
.t-close{
    font-size: 1.25em;
    width: 32px;
    height: 32px;
    border-radius: var(--percent50);
    background-color: var(--secondary-dark-color);
    transition: var(--trans-background-color);
}
.t-close:hover{
    background-color: var(--white-color);
    color: var(--secondary-dark-color);
    opacity: .75;
}