.header-main {
  background-color: var(--secondary-dark-color);
  padding: 1.5em 0;
  margin-bottom: 2em;
}
.dpt-cat {
  position: relative;
  z-index: 10;
}
.dpt-cat .dpt-head {
  position: relative;
  width: 300px;
  padding: 0.75em 1.5em;
  background-color: var(--primary-color);
  border-radius: 7px 7px 0 0;
  color: var(--white-color);
  margin-bottom: -2.15em;
}
.dpt-cat .dpt-head .mini-text {
  color: var(--light-bg-color);
}
.dpt-cat .dpt-trigger {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.3em;
  height: 60px;
  width: 60px;
}
.dpt-menu {
  position: absolute;
  top: var(--percent100);
  width: 300px;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-top: 0;
  border-bottom: 0;
}
.dpt-menu > ul > li > a {
  font-weight: var(--fw6);
  padding: 0 1.5em;
  border-bottom: 1px solid var(--border-color);
}
.dpt-menu .has-child:hover ul {
  display: block;
}
.dpt-menu .has-child > ul,
.dpt-menu .mega {
  position: absolute;
  top: 0;
  left: var(--percent100);
  width: var(--percent100);
  height: auto;
  min-height: var(--percent100);
  padding: 1.5em;
  font-size: var(--font-small);
  line-height: 2.5em;
  border: 1px solid var(--border-color);
  border-top: 0;
  display: none;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;
}
.dpt-menu .mega {
  display: block;
}

.dpt-menu .beauty ul {
  background-image: url(assets/menu/menu_bg1.jpg);
}
.dpt-menu .electric ul {
  background-image: url(assets/menu/menu_bg2.jpg);
}
.dpt-menu .fashion ul {
  background-image: url(assets/menu/menu_bg3.jpg);
}
.dpt-menu .homekit .mega {
  background-image: url(assets/menu/menu_bg4.jpg);
}
.dpt-menu .has-child > :where(ul, .mega)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(225, 225, 225, 1) 0%,
    rgba(225, 225, 225, 0) 100%
  );
}
.dpt-menu .mega {
  width: auto;
  min-width: var(--percent100);
}

.dpt-menu .has-child:hover.mega {
  display: flex;
}
